body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
}

#gameArea {
    position: relative;
    width: 800px;
    height: 400px;
    background-color: #333;
    overflow: hidden;
}

.paddle {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: #fff;
}

#paddleLeft {
    left: 10px;
}

#paddleRight {
    right: 10px;
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}
